@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background:rgba(202, 240, 248, 0.5);
}

.navbar-nav form{
    width:100%;
}
.mx-auto{
    width:70%;
}
.react-tabs__tab--selected {
    outline: none;
    border-bottom: 2px solid #00a762;
    border-radius: 8px;
    padding: 2px 12px;
}
input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus {
    border-color: #5b08a7;
}
.icon-f{
    width:30px;

}
.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.btn-edit{
    background: none;
    color:#000;
    border: 1px solid #666666;

}
.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #5b08a7;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}
.navbar .ms-auto button{
    position: relative;
}
table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7;
    text-decoration: none;
}

/* Login/Signup form */


#defaultLayout {
    display: flex;
}
#defaultLayout a{
    text-decoration: none;
}
#defaultLayout aside {
    width: 240px;
    background-color: #666666;
    padding: 1rem
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    text-align: start;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.icon-s{
    width:17px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.products .categories{
  list-style-type: none;
  width:100%;
  padding-left: 0px;
  background:#fff;
  border-radius: 8px;
  padding:10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.products ul li{
  text-align: start;
}
.products .card-body p{
  text-align: start;
  margin-bottom: 5px;
}
.products .product-wrap .card-body{
  padding:10px;
}
.products .product-wrap .font-weight-bold{
    font-weight: 600;
    font-size: 18px;
    font-family: 'Lato', 'Open Sans', sans-serif;
}
.products .product-wrap .font-weight-bold span{
    color:#FF0000;
}  
.products .product-wrap img{
    height:200px;
    object-fit: cover;
}
.products .product-wrap a{
    text-decoration:none;
    color:#000;
}
.products .shopName{
  margin-top: 10px;
}
.products .action-btns button{
    background: none;
    border: none;
    padding:0;
}
.products .action-btns{
    display: flex;
    justify-content: space-between;
}
.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}

.box .text{
    position: absolute;
    z-index: 999;
    margin: 0;
    left: 12px;
    right: 0;
    top: 2%; /* Adjust this value to move the positioned div up and down */
    width: 20%; /* Set the width of the positioned div */
    background: #FF0000;
    border-radius: 5px;
    padding:3px 10px;
    color:#fff;
}
.products .product-wrap .star-rating {
    display: flex;
}

.products .product-wrap .star {
    font-size: 20px; /* Adjust the size as needed */
    color: #F5BD02; /* Set the color to gold */
    margin-right: 2px; /* Optional: add some space between stars */
}
.products .action-btns .action{
    border:1px solid #00a762;
    border-radius: 5px;
    color:#00a762;
    padding: 3px 5px;
    width:38px;
    height:38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .action-btns .action:hover{
    border:1px solid #00a762;
    border-radius: 5px;
    color:#fff;
    background: #00a762;
    padding: 3px 5px;
    width:38px;
    height:38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products a{
  text-decoration: none;
}
.products .strike-through{
    text-decoration: line-through;
    margin-right: 10px;
    color:#666666;
}
.products .discount-wrap p{
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
.products .product-wrap {
    background: #fff;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.products .product-wrap:hover {
    border: 1px solid #00a762;
}
.products .filter-panel,.products .filter-panel .dropdown{
    width:100%;
}
.products .filter-container .btn-add{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:10px;
}
.products .filter-container .btn-add span svg{
    margin-right:7px;
}
.products .filter-wrap .btn-add{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:0px;
}
.slick-dots {
  position: relative!important;
  bottom: 45px!important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: green!important;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px!important;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  height: 400px; /* Keep this as it is */
}

.tabs-and-slider-container {
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
}

.tabs-container {
  flex: 1;
  max-width: 150px; /* Adjust as needed */
  margin-right:10px;

}

.slider-container {
  flex: 3; /* Adjust the flex value to control the width ratio */
  overflow: hidden; /* Ensure the slider doesn't overflow */
}
.filter-container {
  flex: 2; /* Adjust the flex value to control the width ratio */
  max-width: 200px; /* Adjust as needed */
}
.filter-container img {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 8px;
    height: 330px;
}
.slider-container img{
  width:100%;
  object-fit: cover;
  height:377px;
  border-radius: 8px;
  margin-top: 17px;
}
.slider-image-container {
  position: relative;
}

.filter-wrap{
    width:250px;
    padding:10px!important;
}

input[type="range"] {
    --minRangePercent: 0%;
    --maxRangePercent: 0%;
    height: .4rem;
}
.horizontal-slider {
    width: 100%;
    max-width: 500px;
    height: 50px;
}
.horizontal-slider .example-track {
    top: 20px;
    height: 10px;
}
.example-track.example-track-0 {
    background: #e9e9e9;
}

.example-track.example-track-1 {
    background: #00a762;
}
.example-track.example-track-2 {
    background: #e9e9e9;
}
.horizontal-slider .example-thumb {
    top: 12px;
    width: 55px;
    height: 25px;
    line-height: 26px;
    border-radius: 30%;
}
.example-thumb {
    font-size: 0.7em;
    text-align: center;
    background-color: #818181;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}
.min-max-slider > input.min {
    background-image: linear-gradient(
    to right,
    silver 0%,
    silver var(--minRangePercent),
    orange var(--minRangePercent),
    orange 100%
    );
}
    
.min-max-slider > input.max {
    background-image: linear-gradient(
    to right,
    orange 0%,
    orange var(--maxRangePercent),
    silver var(--maxRangePercent),
    silver 100%
    );
}
.example-thumb.active{
    border:1px solid grey!important;
}


.product-detail img{
    width:100%;
    border-radius: 8px;
    height:400px;
    object-fit: cover;
}
.product-detail h1{
    text-align: start;
    margin-bottom: 20px;
}
.product-detail h2{
    text-align: start;
    margin-bottom: 20px;

}
.product-detail h5{
    text-align: start;
    margin-bottom: 15px;

}
.product-detail h4{
    text-align: start;
    margin-bottom: 20px;

}
.product-detail h5 span{
    text-align: start;
    background:#fff;
    padding:3px 7px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-left: 0px;
}
.product-detail p{
    text-align: start;
}
.product-detail p span{
    color:#00a762;
}
.product-detail .product-wrap span{
    color:#000;
}
.product-detail span{
    margin-left: 10px;
}
.product-detail .btn-add{
    margin-right: 10px;
}
.product-detail .btn-add svg{
    margin-right: 7px;
}
.product-detail .icon-s{
    margin-right: 7px;
}
.product-detail .card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border:none;
}
.product-detail .products span{
    margin-left: 0px;
}


/* Cart.css */
.cart {
    position: fixed;
    top: 0;
    right: -25%;
    width: 35%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    align-items:start;
    flex-direction: column;
    padding:10px;
}
.cart-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.cart input{
    width:60px;
    margin-left: 10px;
    height:fit-content;
}
.cart button{
    width:fit-content;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    padding: 3px 7px;

}
.cart ul{
    list-style-type: none;
    padding-left: 0;
    padding-top: 15px;
}
.cart ul img{
    border-radius: 6px;
}
.cart ul li{
    list-style-type: none;
    padding:0 10px;
    justify-content: space-between;
}
.cart ul button{
    margin-left: 10px;
    height: fit-content;
    border: none;
    border-radius:8px;
}
.cart h4{
    margin-left: 10px;
    text-align: start;
}
.cart p{
    text-align: start;
    padding-left: 10px;
}
.cart h2{
    text-align: start;
    padding-left: 10px;
}
.cart.open {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.checkout h2{
    text-align: start;
    padding-left: 0;

}
.checkout h3{
    text-align: start;
    padding-left: 0;
}
.checkout p{
    text-align: start;
    margin-left: 10px;
}
.checkout h4{
    margin-left: 10px;
}
.checkout .card{
    border:none!important;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);

}
.checkout ul{
    padding-left: 0px;
}
.checkout ul img{
    border-radius: 6px;
}
.checkout form h5{
    text-align: start;
}
.checkout .phone-row{
    padding-right: 0;
}
.checkout input[type=radio]{
    width:12px;
    margin-right: 10px;
}
.checkout .radio-wrap{
    margin-right: 10px;
}



.admin-products .products table tbody .actions .btn-edit{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}
.admin-products .products table tbody .actions .btn-add{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}


.footer-section{
    padding-top: 100px;
}
.footer-section .footer-wrap{
    width:70%;
    margin: auto;
}
.footer-section .icon-f{
    width:20px;
}
.footer-section svg{
    width:20px;
    margin-right: 20px;
}
.footer-section ul{
    display: flex;
    list-style-type: none;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-left: 0;
}
.footer-section .socials{
    display: flex;
    flex-direction: row;
}
.footer-section a{
    text-decoration: none;
    color:#000;
}
.footer-section a:hover{
    color:#00a762;
}
.footer-section h5{
    font-size: 17px;
}
.footer-section h4{
    text-align: start;
}
/*  ==============================================
Responsiveness
=================================================*/
@media(max-width:280px){
    .slider-container {
        display: none;
    }
    .product-detail .btn-add{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .product-detail .btn-edit{
        margin-left: 10px;
    }
    .cart {
        width: 70%;
    }
    .cart ul li {
        flex-direction: column;
    }
    .cart h4{
        margin-left: 0px;
        text-align: start;
        margin-top: 7px;
    }
    .cart p {
        text-align: start;
        padding-left: 0px;
    }
    .cart form{
        display:flex;
    }
    .cart input {
        margin-left: 0px;
        margin-bottom: 7px;
    }
    .cart ul button {
        margin-left: 0px;
    }
    .cart .sub-total{
        padding-left: 10px;
    }
    .cart ul .item-wrap{
        flex-direction: column;
    }
    .admin-products .products table tbody .actions{
        display: flex;
        flex-direction: column;
    }
    .admin-products .mil-tab{
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-edit{
        font-size: 0.3rem;
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-add{
        font-size: 0.3rem;
        display: flex;
        justify-content: center;
    }
    .admin-products table > thead > tr > th {
        text-align: left;
        padding: 0.2rem 0.2rem;
        background-color: #efefef;
        font-size: 0.3rem;
    }
    .admin-products table > tbody > tr > td {
        padding: 0.5rem 0.2rem;
        border-bottom: 1px solid #efefef;
        text-align: left;
        font-size: 0.3rem;
    }
}
@media(min-width:281px) and (max-width:450px){
    .tabs-container {
        flex: 3;
        max-width: 150px;
        margin-right: 10px;
    }
    .products .product-wrap img {
        height: 300px;
    }
    .slider-container {
        display: none;
    }
    .product-detail .btn-add{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .product-detail .btn-edit{
        margin-left: 10px;
    }
    .cart {
        width: 70%;
    }
    .cart ul li {
        flex-direction: column;
    }
    .cart h4{
        margin-left: 0px;
        text-align: start;
        margin-top: 7px;
    }
    .cart p {
        text-align: start;
        padding-left: 0px;
    }
    .cart form{
        display:flex;
    }
    .cart input {
        margin-left: 0px;
        margin-bottom: 7px;
    }
    .cart ul button {
        margin-left: 0px;
    }
    .cart .sub-total{
        padding-left: 10px;
    }
    .cart ul .item-wrap{
        flex-direction: column;
    }
    .admin-products .mil-tab{
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-edit{
        font-size: 0.3rem;
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-add{
        font-size: 0.3rem;
        display: flex;
        justify-content: center;
    }
    .admin-products table > thead > tr > th {
        text-align: left;
        padding: 0.2rem 0.2rem;
        background-color: #efefef;
        font-size: 0.3rem;
    }
    .admin-products table > tbody > tr > td {
        padding: 0.5rem 0.2rem;
        border-bottom: 1px solid #efefef;
        text-align: left;
        font-size: 0.3rem;
    }
}
@media (min-width: 450px) and (max-width: 575px) {
    .products .product-wrap img {
        height: 300px;
    }
    .tabs-container {
        flex: 3;
        max-width: 150px;
        margin-right: 10px;
    }
    .product-detail img{
        margin-bottom: 15px;
    }
    .product-detail .btn-add{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .product-detail .btn-edit{
        margin-left: 10px;
    }
    .cart {
        width: 60%;
    }
    .cart ul li {
        flex-direction: column;
    }
    .admin-products .mil-tab{
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-edit{
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-add{
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
    }
    .admin-products table > thead > tr > th {
        text-align: left;
        padding: 0.3rem 0.3rem;
        background-color: #efefef;
        font-size: 0.5rem;
    }
    .admin-products table > tbody > tr > td {
        padding: 0.5rem 0.2rem;
        border-bottom: 1px solid #efefef;
        text-align: left;
        font-size: 0.6rem;
    }
}
@media(min-width:575px) and (max-width:768px){
    .tabs-container {
        flex: 3;
        max-width: 150px;
        margin-right: 10px;
    }
    .product-detail img {
        width: 100%;
        border-radius: 8px;
        height: 310px;
        object-fit: cover;
    }
    .product-detail .btn-add{
        margin-bottom: 10px;
    }
    .cart {
        width: 60%;
    }
    .admin-products .mil-tab{
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-edit{
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-add{
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
    }
    .admin-products table > thead > tr > th {
        text-align: left;
        padding: 0.3rem 0.3rem;
        background-color: #efefef;
        font-size: 0.8rem;
    }
    .admin-products table > tbody > tr > td {
        padding: 0.5rem 0.2rem;
        border-bottom: 1px solid #efefef;
        text-align: left;
        font-size: 0.8rem;
    }
}
@media(max-width:768px){

}
@media(min-width:768px){

}
@media(min-width:769px) and (max-width:991px){
    .product-detail img {
        width: 100%;
        border-radius: 8px;
        height: 300px;
        object-fit: cover;
    }
    .cart {
        width: 45%;
    }
    .admin-products .products table tbody .actions{
        display: flex;
        flex-direction: column;
    }
    .admin-products .products table tbody .actions .btn-edit{
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
    }
    .admin-products .products table tbody .actions .btn-add{
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) and (max-width: 1281px) {
   
}